* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .progress-container {
    display: flex;
    align-items: center; 
    flex-wrap: wrap; 
  }
  
  .circle {
    width: 50px;
    height: 50px;
    background-color: #557c83;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 0 5px; 
  }
  
  .circle.next-active {
    background-color: #2ecc71; 
  }
  
  .circle.prev-active {
    background-color: #e74c3c;
  }
  
  .line {
    width: 100px;
    height: 5px;
    background-color: #333;
    flex-shrink: 0; 
  }
  

  .buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #557c83;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #456d76; 
  }
  
  @media (max-width: 600px) {
    .circle {
        width: 40px;
        height: 40px;
        font-size: 16px;
    }
  
    .line {
        width: 70px; 
    }
  
    button {
        padding: 8px 16px;
        font-size: 14px;
    }
  }
  
  @media (max-width: 400px) {
    .circle {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }
  
    .line {
        width: 50px; 
    }
  
    button {
        padding: 6px 12px;
        font-size: 12px;
    }
  }
  